#textfeld {
	min-width: 600px;
    max-width: 600px;
    min-height: 600px;
}
textarea {
    border: 2px solid black;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
}

#bild {
	position: relative;
    min-width: 600px;
    min-height: 600px;
    max-width: 1000px;
    max-height: 1500px;
    float: right;
    border: 2px solid black;
}

svg {
	position: absolute;
    width: 100%;
	height: 100%;
}

select {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
option {
    color: black;
    background-color: rgb(121, 211, 124);
}