#textfeld {
	min-width: 600px;
    max-width: 600px;
    min-height: 600px;
}
textarea {
    border: 2px solid black;
    min-width: 600px;
    max-width: 600px;
    min-height: 600px;
}

#bild {
	position: relative;
    min-width: 700px;
    min-height: 700px;
    max-width: 700px;
    max-height: 700px;
    float: right;
    border: 2px solid black;
}

svg {
	position: absolute;
    width: 100%;
	height: 100%;
}

select {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
option {
    color: black;
    background-color: rgb(121, 211, 124);
}

.dlbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    display: none;
}

#selectDLBox {
    display: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  

.tab button:hover {
    background-color: #ddd;
}
  

.tab button.active {
    background-color: #ccc;
}
  

.tabcontent {
    overflow: hidden;
    position: absolute;
    width: 100%;
	height: 93%;
    display: none;
}